<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Page Info -->
  <title>{{ site.title }}</title>
  <link rel="icon" type="image/png" href="assets/meta.png">
  <link rel="shortcut icon" type="image/png" href="assets/meta.png">
  <meta name="description" content="Dust Wave's online shop">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="DUST WAVE Shop">
  <meta itemprop="description" content="Dust Wave's online shop">
  <meta itemprop="image" content="/assets/meta.png">


	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="DUST WAVE Shop">
	<meta name="twitter:description" content="Dust Wave's online shop">
	<meta name="twitter:image:src" content="/assets/meta.png">

	<!-- Facebook OpenGraph -->
  <meta property="og:url" content="https://shop.dustwave.xyz">
  <meta property="og:type" content="website">
	<meta property="og:title" content="DUST WAVE Shop" />
	<meta property="og:description" content="Dust Wave's online shop" />
	<meta property="og:image" content="/assets/meta.png" />


  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script src="/assets/main.js" data-cfasync="false" type="text/javascript"></script>
  <script defer="" src="https://use.fontawesome.com/releases/v5.1.1/js/solid.js" integrity="sha384-GXi56ipjsBwAe6v5X4xSrVNXGOmpdJYZEEh/0/GqJ3JTHsfDsF8v0YQvZCJYAiGu" crossorigin="anonymous" type="text/javascript"></script>
  <script defer="" src="https://use.fontawesome.com/releases/v5.1.1/js/brands.js" integrity="sha384-0inRy4HkP0hJ038ZyfQ4vLl+F4POKbqnaUB6ewmU4dWP0ki8Q27A0VFiVRIpscvL" crossorigin="anonymous" type="text/javascript"></script>
  <script defer="" src="https://use.fontawesome.com/releases/v5.1.1/js/fontawesome.js" integrity="sha384-NY6PHjYLP2f+gL3uaVfqUZImmw71ArL9+Roi9o+I4+RBqArA2CfW1sJ1wkABFfPe" crossorigin="anonymous" type="text/javascript"></script>
</head>
