<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
  {% include header.html %}
  <main class="main">
    <div class="products">
      <div class="product">
        <div class="product__information">
          <h1 class="product__title">{{ page.name }}</h1>
          <img src="{{ page.image }}" alt="{{ page.name }} product image" class="product__image">
          <p class="product__description">{{ content | remove: '<p>' | remove: '</p>' }}</p>
          <p><a href="{{ '/' | relative_url }}#{{ page.identifier }}">View this product in the shop</a></p>
        </div>
        <img src="{{ page.image }}" alt="{{ page.name }} product image" class="product__image">
      </div>
    </div>
  </main>
  {% include footer.html %}
  <script>
    window.location.replace('{{ "/" | relative_url }}#{{ page.identifier }}');
  </script>
</body>
</html>
